<div class="flex flex-col py-6 justify-center items-center">
  <h2 class="font-bold text-3xl mb-3">Sign Up Form</h2>
  <form [formGroup]="signUpForm" class="flex flex-col" (ngSubmit)="onSubmit()">
    <!-- First name field -->
    <custom-form-field
      label="First Name"
      inputType="text"
      [formGroup]="signUpForm"
      controlName="firstName"
    ></custom-form-field>

    <!-- Second name Field -->
    <custom-form-field
      label="Last Name"
      inputType="text"
      [formGroup]="signUpForm"
      controlName="lastName"
    ></custom-form-field>

    <!-- Password Field -->
    <custom-form-field
      label="Password"
      inputType="password"
      [formGroup]="signUpForm"
      controlName="password"
    ></custom-form-field>

    <!-- submit button -->
    <button mat-flat-button>Submit</button>
  </form>
</div>
